@charset "UTF-8";

:root {
  --blue-color: #5258d2;
  --pink-color: #de2b79;
  --purple-color: #992dbf;
  --yellow-color: #fed166;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  background:
    radial-gradient(ellipse at 35% bottom, var(--yellow-color), transparent 50%),
    radial-gradient(ellipse at left -100%, var(--blue-color), transparent 60%),
    radial-gradient(ellipse at right 0, var(--purple-color), transparent 25%),
    radial-gradient(ellipse at right bottom, var(--pink-color), transparent),
    linear-gradient(var(--blue-color), var(--purple-color), var(--pink-color), var(--yellow-color));
  border-radius: 20%;
}

.camera {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: transparent;
  border: 1rem solid #fff;
  border-radius: 25%;
}

.camera::before {
  content: "";
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border: 1rem solid #fff;
  border-radius: 100%;
}

.camera::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 100%;
}
